<footer class="footer">
  <div class="group1">
    <div class="box">
      <figure>
        <a href="#">
          <img src="public/favicon.ico" alt="prueba logo">
        </a>
      </figure>
    </div>
    <div class ="box">
      <h2>About us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class ="box">
      <h2>Follow us</h2>
      <div class="social-media">
        <a href="#" class ="fa fa-facebook"></a>
        <a href="#" class ="fa fa-instagram"></a>
        <a href="#" class ="fa fa-x"></a>
        <a href="#" class ="fa fa-youtube"></a>
      </div>
    </div>
  </div>
  <div class="group2">
    <small>&copy; 2024 <b>Grow With Me</b> - Todos los Derechos Reservados.</small>
  </div>
</footer>

