<footer class="footer">
  <div class="group1">
    <div class="box">
      <figure>
        <img src="blob:https://web.whatsapp.com/8562ecae-db6a-452a-8ed0-9b6f79d39327" height="234" width="423" alt="GrowWithMe Logo"/>
      </figure>
    </div>
    <div class ="box">
      <h2>{{ 'footer.aboutUs'|translate }}</h2>
      <p>{{ 'footer.description'|translate }}</p>
    </div>
    <div class ="box">
      <h2>{{ 'footer.followUs'|translate }}</h2>
      <div class="social-media">
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faFacebook" href="#"></fa-icon>
        </a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faYoutube"></fa-icon>
        </a>
        <a href="https://www.x.com" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faX"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="group2">
    <small>{{ 'footer.copyright'|translate }}</small>
  </div>
</footer>

