<footer class="footer">
  <div class="group1">
    <div class="box">
      <figure>
        <img src="https://cdn.discordapp.com/attachments/1096834836985024574/1302680188118896743/8562ecae-db6a-452a-8ed0-9b6f79d39327.png?ex=6728fef7&is=6727ad77&hm=cdb85a2360b95e37f298965ef67e6912d8d78a4701997bf6fe832b423c73db91&" height="100" width="223" alt="GrowWithMe Logo"/>
      </figure>
    </div>
    <div class ="box">
      <h2>{{ 'footer.aboutUs'|translate }}</h2>
      <p>{{ 'footer.description'|translate }}</p>
    </div>
    <div class ="box">
      <h2>{{ 'footer.followUs'|translate }}</h2>
      <div class="social-media">
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faFacebook" href="#"></fa-icon>
        </a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faYoutube"></fa-icon>
        </a>
        <a href="https://www.x.com" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faX"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="group2">
    <small>{{ 'footer.copyright'|translate }}</small>
  </div>
</footer>

