<div class="farmer-login-container">
  <h1 class="title">Grow With Me</h1>
  <h2 class="subtitle">{{ 'farmer-sign-in.subtitle'|translate }}</h2>
  <label class="label">{{ 'farmer-sign-in.documentType'|translate }}:</label>
  <select class="list-box" name="documentType" [(ngModel)]="documentType" id="list-box">
    <option value="DNI">DNI</option>
    <option value="RUC">RUC</option>
  </select>
  <br> <br>
  <label class="label">{{ 'farmer-sign-in.documentId'|translate }}:</label>
  <br>
  <input class="input-field" [(ngModel)]="valueDocumentType" type="text" placeholder="{{ 'farmer-sign-in.documentId'|translate }}">
  <br> <br>
  <label class="label">{{ 'farmer-sign-in.password'|translate }}:</label>
  <br>
  <input class="input-field" [(ngModel)]="password" type="text" placeholder="{{ 'farmer-sign-in.password'|translate }}">
  <br> <br>
  <button class="login-button" (click)="logIn()">{{ 'farmer-sign-in.logInButton'|translate }}</button>
  <p (click)="onNavigateFarmerSignUp()" class="register-link">{{ 'farmer-sign-in.registerLink'|translate }}</p>
  <span class="spacer"></span>
  <p (click)="onNavigateConsultantSignIn()" class="consultant-link">{{ 'farmer-sign-in.consultantLink'|translate }}</p>
</div>
