mat-form-field {
  width: calc(100% - 20px);
  margin: 5px 0;
  margin-left: 10px;
}

mat-form-field.mat-form-field {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
}

mat-select {
  width: 100%;
  font-size: 1rem;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ccc;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: dodgerblue;
}

.mat-form-field-label {
  color: dodgerblue;
}

.mat-option-text {
  font-size: 1rem;
}

.mat-form-field-label-wrapper {
  font-size: 1rem;
  color: dodgerblue;
  text-transform: capitalize;
}

.mat-form-field-label.float {
  color: dodgerblue !important;
}

.mat-form-field-wrapper {
  padding: 0 8px;
}

.mat-select-arrow {
  color: #757575;
}

.mat-select-arrow-active {
  color: green;
}

.mat-select-placeholder {
  font-size: 1rem;
  color: #757575;
}
