.consultant-login-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 600px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: green;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #757575;
}

.label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: dodgerblue;
  text-align: left;
  display: block;
}

.input-field {
  width: calc(100% - 20px);
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
}

.login-button {
  border: 1px solid green;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: #fff;
  color: green;
  font-size: 1rem;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: gray;
}

.register-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  font-size: 1rem;
  margin-top: 10px;
}

.farmer-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  font-size: 1rem;
  margin-top: 10px;
}

.register-link:hover {
  text-decoration: none;
  font-weight: bold;
}
