<div class="consultant-login-container">
  <h1 class="title">Grow With Me</h1>
  <h2 class="subtitle">{{ 'consultant-login.subtitle'|translate }}</h2>
  <label class="label">{{ 'consultant-login.documentId'|translate }}:</label>
  <br>
  <input class="input-field" [(ngModel)]="dni" type="text" placeholder="{{ 'consultant-login.documentId'|translate }}">
  <br> <br>
  <label class="label">{{ 'consultant-login.password'|translate }}:</label>
  <br>
  <input class="input-field" [(ngModel)]="password" type="text" placeholder="{{ 'consultant-login.password'|translate }}">
  <br> <br>
  <button class="login-button" (click)="logIn()">{{ 'consultant-login.logInButton'|translate }}</button>
  <p (click)="onNavigateRegister()" class="register-link">{{ 'consultant-login.registerLink'|translate }}</p>
  <p (click)="onNavigateFarmerLogin()" class="consultant-link"> are you a Farmer? </p>
</div>
