<div class="consultant-login-container">
  <h1 class="title">Grow With Me</h1>
  <h2 class="subtitle">Consultant Log-In</h2>
  <label class="label">Document ID:</label>
  <br>
  <input class="input-field" [(ngModel)]="dni" type="text" placeholder="ID">
  <br> <br>
  <label class="label">Password:</label>
  <br>
  <input class="input-field" [(ngModel)]="password" type="text" placeholder="Password">
  <br> <br>
  <button class="login-button" (click)="logIn()">Log-In</button>
  <p routerLink="/signup-consultant" class="register-link">or Register</p>
</div>
